<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-info">
            <form id="operlog-form">
                <div class="select-list gd">
                    <ul>
                        <li>
                            <label>宿舍名称： </label>
                            <input type="text" name="roomName" readonly="true" id="roomName" th:field="*{roomInfo.roomName}"/>
                        </li>
                        <li>
                            <input type="hidden" name="roomCode" id="roomCode" th:field="*{roomInfo.roomCode}" />
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group hidden-xs" id="toolbar" role="group">
            <a class="btn btn-outline btn-success btn-rounded" onclick="addCouch()" shiro:hasPermission="dmc:add">
                <i class="fa fa-plus"></i> 新增床位
            </a><!--
            <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.batRemove()"
               shiro:hasPermission="dmc:del">
                <i class="fa fa-trash-o"></i> 删除
            </a>-->
        </div>

        <div class="col-sm-12 select-info order-table">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">
    var prefix = "/dmc";
    var updateFlag = [[${@permission.hasPermi('"dmc:update')}]];
    var delFlag = [[${@permission.hasPermi('"dmc:del')}]];
    $(function () {
        var options = {
            url: prefix + "/tableList",
            createUrl: prefix + "/toAdd/{id}",
            removeUrl: prefix + "/del",
            updateUrl: prefix + "/edit/{id}",
            modalName: "便签",
            search: false,
            queryParams:{
              roomCode:$("#roomCode").val()
            },
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'couchCode',
                    title: '床位编号',
                },
                {
                    field: 'couchNumber',
                    title: '床位号码',
                },
                {
                    field: 'status',
                    title: '入住状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        if (value == 1) {
                            return '<span class="badge badge-primary">已入住</span>';
                        } else {
                            return '<span class="badge badge-danger">未入住</span>';
                        }
                    }
                },
                {
                    field: 'isBerth',
                    title: '上下层',
                    formatter: function (value, row, index) {
                        if(value == 0){
                            return "上铺";
                        }else{
                            return "下铺";
                        }
                    }
                },
                {
                    field: 'studentid',
                    title: '入住学生id',
                },
                {
                    field: 'studentName',
                    title: '入住学生姓名',
                },
                {
                    field: 'moveInDate',
                    title: '入住时间',
                    formatter: function (value, row, index) {
                        return $.common.dateFormatToDate(value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="' + updateFlag + 'btn btn-success btn-xs" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>添加入住人</a> ');
                        actions.push('<a class="' + delFlag + 'btn btn-danger btn-xs"  href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除入住人</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function addCouch() {
        var roomCode = $("#roomCode").val();
        $.operate.add(roomCode);
    }
</script>
</body>
</html>