<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-info">
            <form id="form-role-add" class="form-horizontal m" >
                <div class="select-list gd">
                    <ul>
                        <li>
                            <label>班级名称： </label>
                            <input type="text" name="className" readonly="true" id="className" th:value="${className}"/>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 select-info order-table">
                    <table id="bootstrap-table" data-mobile-responsive="true"></table>
                </div>

                <div class="form-group">
                    <div class="form-control-static col-sm-offset-9">
                        <button type="submit" class="btn btn-primary" shiro:hasPermission="cEveningStudy:add">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">
    //var demerits;
    var prefix = "/cEveningStudy";
    $(function () {
        var demerits = [[${demerits}]];
        var strSelect = '';
        for(var i=0;i< demerits.length;i++){
            //console.log(demerit);
            strSelect += '<option value="'+demerits[i]['dCode']+'">'+demerits[i]['dMsg']+'</option>';
        }
        var options = {
            url: prefix + "/users",
            sortName: "studentid",
            sortOrder: 'asc',
            //modalName: "便签",
            search: false,
            queryParams:{
                className:$("#className").val()
            },
            showExport: false,
            columns: [
                {
                    title: '学号',
                    align: 'center',
                    formatter: function (value, row, index) {

                        //console.log(demerits);
                        var actions = [];

                        actions.push('<input name="studentid" type="text" value="'+row.studentId+'" readonly />');
                        return actions.join('');
                    }
                },
                {
                    field: 'name',
                    title: '姓名',
                },
                {
                    title: '违纪项',
                    align: 'center',
                    formatter: function (value, row, index) {

                        //console.log(demerits);
                        var actions = [];

                        actions.push('<select name="dCode" class="dCode"><option ></option>'+ strSelect +'</select>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


    $("#form-role-add").validate({

        submitHandler: function (form) {
            $.ajax({
                cache: true,
                type: "POST",
                url: "/cEveningStudy/addSave",
                data: $("form").serializeArray(),
                async: false,
                error: function (request) {
                    $.modal.alertError("系统错误");
                },
                success: function (data) {
                    $.operate.saveSuccess(data);
                }
            });
        }
    });

</script>
</body>
</html>