<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
<link href="/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css"
      th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-role-add" action="selectUsers" method="post";>
        <div class="form-group" th:each="c:${classes}">
            <input  type="checkbox" name="class" th:value="${c.className}"
                   th:text="${c.className}" />
        </div>
        <div class="form-group">
            <div class="form-control-static col-sm-offset-9">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
            <div class="form-control-static col-sm-offset-9">
                <button type="submit" class="btn btn-primary" formaction="selectDemerit">查看今日扣分项</button>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">
    // //var prefix = "/cEveningStudy";
    // $(function () {
    //     $.modal.openFull();
    // });
</script>
</body>
</html>
