<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-info">
            <form id="operlog-form">
                <div class="select-list gd">
                    <ul>
                        <li>
                            <label>学号： </label>
                            <input type="text" name="studentId" />
                        </li>
                        <li class="select-time">
                            <label>检查时间： </label>
                            <input type="text" class="time-input" style="width: 150px" id="beginTime" placeholder="开始时间"
                                   name="beginTime" lay-key="1">
                            <span>-</span>
                            <input type="text" class="time-input" style="width: 150px" id="overTime" placeholder="结束时间"
                                   name="overTime" lay-key="2">
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm"
                               onclick="$.table.search($('form').attr('id'))"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm"
                               onclick="$.form.reset($('form').attr('id'))"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-md-3" style="padding:2em 0;">
            <button type="button" class="btn btn-success btn-block" id="generate-excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> 将表格转换为Excel</button>
        </div>

        <div class="btn-group hidden-xs" id="toolbar" role="group">
            <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" >
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.batRemove()"
               shiro:hasPermission="cLateback:del">
                <i class="fa fa-trash-o"></i> 删除
            </a>
        </div>


        <div class="col-sm-12 select-info order-table">
            <table data-mobile-responsive="true" id="test_table">
                <thead>
                <tr>
                    <th style="" data-field="className" tabindex="0">
                        <div class="th-inner ">班级</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="" data-field="studentid" tabindex="0">
                        <div class="th-inner ">学号</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="text-align: center; " data-field="name" tabindex="0">
                        <div class="th-inner ">姓名</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="" data-field="dCode" tabindex="0">
                        <div class="th-inner ">扣分项</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="" data-field="dCode" tabindex="0">
                        <div class="th-inner ">分值</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style=""  tabindex="0">
                        <div class="th-inner ">操作</div>
                        <div class="fht-cell"></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-index="0" th:each="cess,cessStat:${cess}">

                    <td style="" th:text="${cess.user.className}"></td>
                    <td style="" th:text="${cess.studentid}"></td>
                    <td style="" th:text="${cess.user.name}"></td>
                    <td style="" th:text="${cess.demerit.dMsg}"></td>
                    <td style="" th:text="${cess.demerit.dNumber}"></td>
                    <td>
                        <a class="hiddenbtn btn-success btn-xs" href="#" th:onclick="'$.operate.edit('+${cess.id}+')'" ><i class="fa fa-edit"></i>编辑</a>
                        <a class="hiddenbtn btn-danger btn-xs" href="#" th:onclick="'$.operate.remove('+${cess.id}+')'"><i class="fa fa-remove"></i>删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script src="../js/jquery.min.js" ></script>
<script src="../js/jszip.min.js" ></script>
<script src="../js/FileSaver.js" ></script>
<script src="../js/demo.page.js" ></script>
<script src="../js/excel-gen.js" ></script>
<script th:inline="javascript">
    var prefix = "/cEveningStudy";
    //var updateFlag = [[${@permission.hasPermi('"major:update')}]];
    //var delFlag = [[${@permission.hasPermi('"major:del')}]];
    $(function () {
        var options = {
            url: prefix + "/tableList",
            createUrl: prefix + "/toAdd",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/del",
            sortName: "create_time",
            sortOrder: 'desc',
            modalName: "便签",
            search: false,
            showExport: true,

        };
        $.table.init(options);
    });
</script>
</body>
</html>