<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sj.oa.project.mapper.dormitory.DormitoryStepsMapper">

    <resultMap id="BaseResultMap" type="com.sj.oa.project.po.dormitory.DormitorySteps">
        <result column="id" property="id" />
        <result column="building_code" property="buildingCode" />
        <result column="step_code" property="stepCode" />
        <result column="building_name" property="buildingName" />
        <result column="step" property="step" />
        <result column="all_numbers" property="allNumbers" />
        <result column="already_numbers" property="alreadyNumbers" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <sql id="Base_Column_List">
        id,building_code,step_code,building_name,step,all_numbers,already_numbers,
        create_time,create_user,update_time,update_user
    </sql>

    <!--主键查找-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int">
        select <include refid="Base_Column_List"/>
        from t_dormitory_steps
        where id = #{id};
    </select>

    <!--批量删除-->
    <delete id="deleteByPrimaryKeys" parameterType="int">
        delete from
        t_dormitory_steps
        WHERE id IN
        <foreach collection="array" item="id" index="idex" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--
     添加
    -->
    <insert id="insertSelective" parameterType="com.sj.oa.project.po.dormitory.DormitorySteps">
        insert into t_dormitory_steps
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="buildingCode != null">
                building_code,
            </if>
            <if test="stepCode != null">
                step_code,
            </if>
            <if test="buildingName != null">
                building_name,
            </if>
            <if test="step != null">
                step,
            </if>
            <if test="allNumbers != null">
                all_numbers,
            </if>
            <if test="alreadyNumbers != null">
                already_numbers,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="buildingCode != null">
                #{buildingCode,jdbcType=VARCHAR},
            </if>
            <if test="stepCode != null">
                #{stepCode,jdbcType=VARCHAR},
            </if>
            <if test="buildingName != null">
                #{buildingName,jdbcType=VARCHAR},
            </if>
            <if test="step != null">
                #{step,jdbcType=INTEGER},
            </if>
            <if test="allNumbers != null">
                #{allNumbers,jdbcType=INTEGER},
            </if>
            <if test="alreadyNumbers != null">
                #{alreadyNumbers,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sj.oa.project.po.dormitory.DormitorySteps">
        update t_dormitory_steps
        <set>
            <if test="buildingCode != null">
                building_code = #{buildingCode,jdbcType=VARCHAR},
            </if>
            <if test="stepCode != null">
                step_code = #{stepCode,jdbcType=VARCHAR},
            </if>
            <if test="buildingName != null">
                building_name = #{buildingName,jdbcType=VARCHAR},
            </if>
            <if test="step != null">
                step = #{step,jdbcType=INTEGER},
            </if>
            <if test="allNumbers != null">
                all_numbers = #{allNumbers,jdbcType=INTEGER},
            </if>
            <if test="alreadyNumbers != null">
                already_numbers = #{alreadyNumbers,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_time = #{updateUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 用户列表 根据不同条件查询-->
    <select id="selectByDormitorySteps" resultMap="BaseResultMap" parameterType="com.sj.oa.project.po.dormitory.DormitorySteps">
        select
        <include refid="Base_Column_List"></include>
        from t_dormitory_steps
        <where>
            <if test="buildingName !=null">
                and building_name = #{buildingName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <resultMap id="BuildingStepsTreeResultMap" type="com.sj.oa.project.po.dto.DormitoryStepsTree">
        <result column="step_code" property="id" />
        <result column="step" property="name" />
    </resultMap>
    <select id="selectByBuildingCode" resultMap="BuildingStepsTreeResultMap">
        select
        step_code,concat('第',step,'层') as step
        from t_dormitory_steps
        where building_code = #{buildingCode,jdbcType=VARCHAR}
    </select>

    <!-- 校验宿舍楼code -->
    <select id="checkStepUnique" resultMap="BaseResultMap" parameterType="com.sj.oa.project.po.dormitory.DormitorySteps">
        select * from t_dormitory_steps
        where step = #{step,jdbcType=INTEGER} and building_code = #{buildingCode,jdbcType=VARCHAR}
    </select>

    <!--根据楼号查找楼层对象-->
    <select id="findStep" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_dormitory_steps
        where building_code = #{buildingCode};
    </select>
</mapper>