<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sj.oa.project.mapper.check.CheckEveningStudyMapper">

    <resultMap id="BaseResultMap" type="com.sj.oa.project.po.check.CheckEveningStudy">
        <result column="id" property="id" />
        <result column="studentid" property="studentid" />
        <result column="d_code" property="dCode" />
        <result column="voccate" property="voccate" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <association property="user" javaType="User">
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="class_name" jdbcType="VARCHAR" property="className"/>
        </association>
        <association property="demerit" javaType="Demerit">
            <result column="d_msg" jdbcType="VARCHAR" property="dMsg"/>
            <result column="d_number" jdbcType="INTEGER" property="dNumber"/>
        </association>
    </resultMap>

    <resultMap id="YearResultMap" type="com.sj.oa.project.po.college.YearSessionInfo">
        <result column="id" property="id" />
        <result column="year_session" property="yearSession" />
        <result column="student_numbers" property="studentNumbers" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <resultMap id="ClassResultMap" type="com.sj.oa.project.po.college.Classall">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="class_name" jdbcType="VARCHAR" property="className"/>
        <result column="belong_major" jdbcType="VARCHAR" property="major"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="total_number" jdbcType="INTEGER" property="totalNumber"/>
        <result column="man_number" jdbcType="INTEGER" property="manNumber"/>
        <result column="major_code" jdbcType="VARCHAR" property="majorCode" />
        <result column="women_number" jdbcType="INTEGER" property="womenNumber"/>
        <result column="headmaster" jdbcType="VARCHAR" property="headmaster"/>
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!--登录查询用到权限-->
    <resultMap id="UserResultMap" type="User">
        <id column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <result column="loginName" property="loginName" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="studentid" property="studentId" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="card_no" property="cardNo" jdbcType="VARCHAR"/>
        <result column="major_code" property="majorCode" jdbcType="VARCHAR" />
        <result column="major_name" property="majorName" jdbcType="VARCHAR" />
        <result column="grade" property="grade" jdbcType="INTEGER" />
        <result column="class_name" property="className" jdbcType="VARCHAR" />
        <result column="dept" property="dept" jdbcType="VARCHAR"/>
        <result column="position" property="position" jdbcType="VARCHAR"/>
        <result column="self_introduction" property="self_introduction" jdbcType="VARCHAR"/>
        <result column="hobby" property="hobby" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="ustatus" property="status" jdbcType="INTEGER"/>
        <result column="uroleId" property="role_ID" jdbcType="INTEGER"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
        <association property="role" javaType="Role">
            <id property="roleId" column="roleId"/>
            <result property="roleName" column="roleName"/>
            <result property="createTime" column="createTime"/>
            <collection property="permissionList" ofType="Permission">
                <id column="permissionId" property="permissionId" jdbcType="INTEGER"/>
                <result column="perName" property="perName" jdbcType="VARCHAR"/>
                <result column="parenId" property="parenId" jdbcType="INTEGER"/>
                <result column="parentName" property="parentName" jdbcType="VARCHAR"/>
                <result column="type" property="type" jdbcType="INTEGER"/>
                <result column="url" property="url" jdbcType="VARCHAR"/>
                <result column="code" property="code" jdbcType="VARCHAR"/>
                <result column="icon" property="icon" jdbcType="VARCHAR"/>
                <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
            </collection>
        </association>
        <association property="deptPo" javaType="Dept">
            <id column="depId" jdbcType="VARCHAR" property="depId"/>
            <result column="deptName" jdbcType="VARCHAR" property="deptName"/>
            <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
            <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        </association>
        <association property="positionPo" javaType="Position">
            <id column="positionId" property="positionId" jdbcType="INTEGER"/>
            <result column="positionName" property="positionName" jdbcType="VARCHAR"/>
            <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        </association>
    </resultMap>

    <resultMap id="DemeritResultMap" type="Demerit">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="d_code" jdbcType="VARCHAR" property="dCode"/>
        <result column="d_msg" jdbcType="VARCHAR" property="dMsg"/>
        <result column="d_number" jdbcType="INTEGER" property="dNumber"/>
        <result column="d_type" jdbcType="VARCHAR" property="dType"/>
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <sql id="Demerit_Column_List">
       id, d_code, d_msg,d_number,d_type,status,create_time,create_user,update_time,update_user
    </sql>

    <!--
      抽取公共字段
    -->
    <sql id="User_Column_List">
        uid,name, studentid,  class_name
    </sql>



    <sql id="Base_Column_List">
        es.id,es.studentid,u.name,u.class_name,es.d_code,d.d_msg,d.d_number,es.status,
        es.create_time,es.create_user,es.update_time,es.update_user
    </sql>

    <sql id="Year_Column_List">
        id,year_session,student_numbers,status,
        create_time,create_user,update_time,update_user
    </sql>

    <sql id="Class_Column_List">
        id, class_name,belong_major, grade, total_number,man_number,women_number,headmaster,major_code
    </sql>

    <!--查年级-->
    <select id="selectYearSessionInfoByLimit" resultMap="YearResultMap" parameterType="Integer">
        select <include refid="Year_Column_List"/>
        from t_year_session_info order by year_session desc  limit #{number} ;
    </select>

    <!--查班级-->
    <select id="selectClassInfoByGrade" resultMap="ClassResultMap">
        select <include refid="Class_Column_List"/>
        from t_class_info
        where class_name in
        <foreach collection="list" open="(" separator="," close=")" item="grade" index="index" >
          #{grade.yearSession}
        </foreach>
    </select>


    <!--查学生-->
    <select id="selectUserByClassName" resultMap="UserResultMap">
        select <include refid="User_Column_List"/>
        FROM t_user
        WHERE role_ID = 31
        AND class_name in
        <foreach collection="array" open="(" separator="," close=")" item="classname" index="index">
            #{classname}
        </foreach>
    </select>

    <select id="selectDemeritByType" resultMap="DemeritResultMap" parameterType="String">
        select <include refid="Demerit_Column_List"/>
        from t_demerit
        where d_type like #{type};
    </select>

    <insert id="insertCheckEveningStudy">
        insert into t_check_evening_study (studentid,d_code,status,create_time,create_user)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.studentid},#{item.dCode},0,#{item.createTime},#{item.createUser})
        </foreach>

    </insert>

    <select id="selectCheckEveningStudyByTime" resultMap="BaseResultMap" parameterType="String">
        select <include refid="Base_Column_List"/>
        from t_check_evening_study es left join t_user u
        on es.studentid = u.studentid
        left join t_demerit d
        on es.d_code = d.d_code
        where to_days(es.create_time) = to_days(now())
        and u.class_name in
        <foreach collection="array" open="(" separator="," close=")" item="classname" index="index">
            #{classname}
        </foreach>
        order by class_name,es.studentid;
    </select>

    <!-- 根据id更新数据 -->
    <update id="updateCheckEveningStudyById">
        update t_check_evening_study
        <set>
            <if test="studentid != null">
                studentid=#{studentid,jdbcType=VARCHAR}
            </if>
            <if test="dCode != null">
                d_code=#{dCode,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime,jdbcType=DATE}
            </if>
            <if test="updateUser != null">
                update_user=#{updateUser,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 根据id删除数据 -->
    <delete id="deleteCheckEveningStudyById" parameterType="String">
        delete from t_check_evening_study
        where id IN
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <select id="selectCheckEveningStudyById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_check_evening_study es left join t_user u
        on es.studentid = u.studentid
        left join t_demerit d
        on es.d_code = d.d_code
        where es.id = #{id}
    </select>

    <select id="selectDemeritByCode" resultMap="DemeritResultMap">
        select * from t_demerit d where d_type = (select d_type from t_demerit where d_code = #{dCode});
    </select>

</mapper>