<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sj.oa.project.mapper.check.CheckMorningExercisesMapper">

    <resultMap id="BaseResultMap" type="com.sj.oa.project.po.check.CheckMorningExercises">
        <result column="id" property="id" />
        <result column="major_code" property="majorCode" />
        <result column="major_name" property="majorName" />
        <result column="class_name" property="className" />
        <result column="class_room" property="classRoom" />
        <result column="check_person" property="checkPerson" />
        <result column="check_time" property="checkTime" />
        <result column="studentid" property="studentid" />
        <result column="student_name" property="studentName" />
        <result column="is_ask" property="isAsk" />
        <result column="ask_type" property="askType" />
        <result column="reason" property="reason" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <sql id="Base_Column_List">
        id,major_code,major_name,class_name,class_room,check_person,check_time,studentid,student_name,is_ask,
        ask_type,reason,status,create_time,create_user,update_time,update_user
    </sql>

    <!--主键查找-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
        select <include refid="Base_Column_List"/>
        from t_check_late_selfstudy
        where id = #{id};
    </select>

    <!--批量删除-->
    <delete id="deleteByPrimaryKeys" parameterType="int">
        UPDATE
        t_check_late_selfstudy
        set status = 1
        WHERE id IN
        <foreach collection="array" item="id" index="idex" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--
     添加
    -->
    <insert id="insertSelective" parameterType="com.sj.oa.project.po.check.CheckMorningExercises">
        insert into t_check_late_selfstudy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="majorCode != null">
                major_code,
            </if>
            <if test="majorName != null">
                major_name,
            </if>
            <if test="className != null">
                class_name,
            </if>
            <if test="classRoom != null">
                class_room,
            </if>
            <if test="checkPerson != null">
                check_person,
            </if>
            <if test="checkTime != null">
                check_time,
            </if>
            <if test="studentid != null">
                studentid,
            </if>
            <if test="studentName != null">
                student_name,
            </if>
            <if test="isAsk != null">
                is_ask,
            </if>
            <if test="ask_type != null">
                askType,
            </if>
            <if test="reason != null">
                reason,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="majorCode != null">
                #{majorCode,jdbcType=VARCHAR},
            </if>
            <if test="majorName != null">
                #{majorName,jdbcType=VARCHAR},
            </if>
            <if test="className != null">
                #{className,jdbcType=TIMESTAMP},
            </if>
            <if test="classRoom != null">
                #{classRoom,jdbcType=VARCHAR},
            </if>
            <if test="checkPerson != null">
                #{checkPerson,jdbcType=VARCHAR},
            </if>
            <if test="checkTime != null">
                #{checkTime,jdbcType=TIMESTAMP},
            </if>
            <if test="studentid != null">
                #{studentid,jdbcType=VARCHAR},
            </if>
            <if test="studentName != null">
                #{studentName,jdbcType=VARCHAR},
            </if>
            <if test="isAsk != null">
                #{isAsk,jdbcType=INTEGER},
            </if>
            <if test="askType != null">
                #{askType,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sj.oa.project.po.check.CheckMorningExercises">
        update t_check_late_selfstudy
        <set>
            <if test="majorCode != null">
                major_code = #{majorCode,jdbcType=VARCHAR},
            </if>
            <if test="majorName != null">
                major_name = #{majorName,jdbcType=VARCHAR},
            </if>
            <if test="className != null">
                class_name = #{className,jdbcType=VARCHAR},
            </if>
            <if test="classRoom != null">
                class_room = #{classRoom,jdbcType=VARCHAR},
            </if>
            <if test="checkTime != null">
                check_time = #{checkTime,jdbcType=TIMESTAMP},
            </if>
            <if test="checkPerson != null">
                check_person = #{checkPerson,jdbcType=VARCHAR},
            </if>
            <if test="studentid != null">
                studentid = #{studentid,jdbcType=VARCHAR},
            </if>
            <if test="studentName != null">
                student_name = #{studentName,jdbcType=VARCHAR},
            </if>
            <if test="isAsk != null">
                is_ask = #{isAsk,jdbcType=INTEGER},
            </if>
            <if test="askType != null">
                ask_type = #{askType,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_time = #{updateUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 用户列表 根据不同条件查询-->
    <select id="selectByCheckMorningExercises" resultMap="BaseResultMap" parameterType="com.sj.oa.project.po.check.CheckMorningExercises">
        select
        <include refid="Base_Column_List"></include>
        from t_check_late_selfstudy
        <where>
            <if test="majorCode !=null and majorCode != ''">
                and major_code = #{majorCode}
            </if>
            <if test="className !=null and className != '' ">
                and class_name = #{className}
            </if>
            <if test="studentid !=null and studentid != '' ">
                and studentid = #{studentid}
            </if>
            <if test="studentName !=null and studentName != '' ">
                and student_name = #{studentName}
            </if>
            <if test="beginTime !=null ">
                <![CDATA[   and DATE_FORMAT(check_time, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
            </if>
            <if test="overTime !=null and overTime ">
                <![CDATA[  and DATE_FORMAT(check_time, '%Y-%m-%d') <= DATE_FORMAT(#{overTime}, '%Y-%m-%d')    ]]>
            </if>
        </where>
    </select>
</mapper>