<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sj.oa.project.mapper.check.CheckDarkenMapper">

    <resultMap id="BaseResultMap" type="com.sj.oa.project.po.check.CheckDarken">
        <result column="id" property="id" />
        <result column="building_code" property="buildingCode" />
        <result column="step_code" property="stepCode" />
        <result column="room_code" property="roomCode" />
        <result column="d_code" property="dCode" />
        <result column="check_person" property="checkPerson" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <association property="user" javaType="User">
            <id column="uid" jdbcType="VARCHAR" property="uid"/>
            <result column="className" jdbcType="VARCHAR" property="className"/>
        </association>
        <association property="dormitoryRoom" javaType="DormitoryRoom">
            <id column="id" jdbcType="VARCHAR" property="id"/>
            <result column="roomName" jdbcType="VARCHAR" property="roomName"/>
        </association>
        <association property="dormitoryCouch" javaType="DormitoryCouch">
            <id column="id" jdbcType="VARCHAR" property="id"/>
            <result column="roomCode" jdbcType="VARCHAR" property="roomCode"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,building_code,step_code,room_code,d_code,check_person,status,
        create_time,create_user,update_time,update_user
    </sql>

    <!--主键查找-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
        select <include refid="Base_Column_List"/>
        from t_check_darken
        where id = #{id};
    </select>

    <!--批量删除-->
    <delete id="deleteByPrimaryKeys" parameterType="int">
        UPDATE
        t_check_darken
        set status = 1
        WHERE id IN
        <foreach collection="array" item="id" index="idex" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--
     添加
    -->
    <insert id="insertSelective" parameterType="com.sj.oa.project.po.check.CheckDarken">
        insert into t_check_darken
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="buildingCode != null">
                building_code,
            </if>
            <if test="stepCode != null">
                step_code,
            </if>
            <if test="roomCode != null">
                room_code,
            </if>
            <if test="dCode != null">
                d_code,
            </if>
            <if test="checkPerson != null">
                check_person,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="buildingCode != null">
                #{buildingCode,jdbcType=VARCHAR},
            </if>
            <if test="stepCode != null">
                #{stepCode,jdbcType=VARCHAR},
            </if>
            <if test="roomCode != null">
                #{roomCode,jdbcType=VARCHAR},
            </if>
            <if test="dCode != null">
                #{dCode,jdbcType=VARCHAR},
            </if>
            <if test="checkPerson != null">
                #{checkPerson,jdbcType=VARCHAR},
            </if>

            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sj.oa.project.po.check.CheckDarken">
        update t_check_darken
        <set>
            <if test="buildingCode != null">
                building_code = #{buildingCode,jdbcType=VARCHAR},
            </if>
            <if test="stepCode != null">
                step_code = #{stepCode,jdbcType=VARCHAR},
            </if>
            <if test="roomCode != null">
                room_code = #{roomCode,jdbcType=VARCHAR},
            </if>
            <if test="dCode != null">
                d_code = #{dCode,jdbcType=VARCHAR},
            </if>
            <if test="checkPerson != null">
                check_person = #{checkPerson,jdbcType=VARCHAR},
            </if>

            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_time = #{updateUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 用户列表 根据不同条件查询-->
    <select id="selectByCheckDarken" resultMap="BaseResultMap" parameterType="com.sj.oa.project.po.check.CheckDarken">
        select
        <include refid="Base_Column_List"></include>
        from t_check_darken
        where to_days(create_time) = to_days(now())
    </select>
</mapper>