<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">


        <div class="btn-group hidden-xs" id="toolbar" role="group">
            <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="cMorningExercises:add">
                <i class="fa fa-plus"></i> 新增
            </a>

        </div>

        <div class="col-sm-12 select-info order-table">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">
    var prefix = "/cMorningExercisesClassWeek";
    var updateFlag = [[${@permission.hasPermi('"cMorningExercisesClassWeek:update')}]];
    var delFlag = [[${@permission.hasPermi('"cMorningExercisesClassWeek:del')}]];
    $(function () {
        var options = {
            url: prefix + "/tableList",
            createUrl: prefix + "/toAdd",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/del",
            sortName: "create_time",
            sortOrder: 'desc',
            modalName: "便签",
            search: false,
            showExport: true,
            columns: [
                {
                checkbox: true
                },
                {
                    field: 'id',
                    title: '编号',
                },
                {
                    field: 'className',
                    title: '班级',
                },
                {
                    field: 'week1',
                    title: '周一',
                },
                {
                    field: 'week2',
                    title: '周二',
                },
                {
                    field: 'week3',
                    title: '周三',
                },
                {
                    field: 'week4',
                    title: '周四',
                },
                {
                    field: 'week5',
                    title: '周五',
                },
                {
                    field: 'averageMark',
                    title: '平均分',
                },
                {
                    field: 'rownum',
                    title: '名次',
                }
                ]






        };
        $.table.init(options);
    });
</script>
</body>
</html>