<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sj.oa.project.mapper.dormitory.DormitoryRoomMapper">

    <resultMap id="BaseResultMap" type="com.sj.oa.project.po.dormitory.DormitoryRoom">
        <result column="id" property="id" />
        <result column="building_code" property="buildingCode" />
        <result column="step_code" property="stepCode" />
        <result column="room_code" property="roomCode" />
        <result column="room_name" property="roomName" />
        <result column="canin_number" property="caninNumber" />
        <result column="income_number" property="incomeNumber" />
        <result column="leader_studentid" property="leaderStudentid" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <sql id="Base_Column_List">
        id,building_code,step_code,room_code,room_name,canin_number,income_number,leader_studentid
        create_time,create_user,update_time,update_user
    </sql>

    <!--主键查找-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int">
        select <include refid="Base_Column_List"/>
        from t_dormitory_room
        where id = #{id};
    </select>

    <!--批量删除-->
    <delete id="deleteByPrimaryKeys" parameterType="int">
        delete from
        t_dormitory_room
        WHERE id IN
        <foreach collection="array" item="id" index="idex" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--
     添加
    -->
    <insert id="insertSelective" parameterType="com.sj.oa.project.po.dormitory.DormitoryRoom">
        insert into t_dormitory_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="buildingCode != null">
                building_code,
            </if>
            <if test="stepCode != null">
                step_code,
            </if>
            <if test="roomCode != null">
                room_code,
            </if>
            <if test="roomName != null">
                room_name,
            </if>
            <if test="caninNumber != null">
                canin_number,
            </if>
            <if test="incomeNumber != null">
                income_number,
            </if>
            <if test="leaderStudentid != null">
                leader_studentid,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="buildingCode != null">
                #{buildingCode,jdbcType=VARCHAR},
            </if>
            <if test="stepCode != null">
                #{stepCode,jdbcType=VARCHAR},
            </if>
            <if test="roomCode != null">
                #{roomCode,jdbcType=VARCHAR},
            </if>
            <if test="roomName != null">
                #{roomName,jdbcType=VARCHAR},
            </if>
            <if test="caninNumber != null">
                #{caninNumber,jdbcType=INTEGER},
            </if>
            <if test="incomeNumber != null">
                #{incomeNumber,jdbcType=INTEGER},
            </if>
            <if test="leaderStudentid != null">
                #{leaderStudentid,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sj.oa.project.po.dormitory.DormitoryRoom">
        update t_dormitory_room
        <set>
            <if test="buildingCode != null">
                building_code = #{buildingCode,jdbcType=VARCHAR},
            </if>
            <if test="stepCode != null">
                step_code = #{stepCode,jdbcType=VARCHAR},
            </if>
            <if test="roomCode != null">
                room_code = #{roomCode,jdbcType=VARCHAR},
            </if>
            <if test="roomName != null">
                room_name = #{roomName,jdbcType=VARCHAR},
            </if>
            <if test="caninNumber != null">
                canin_number = #{caninNumber,jdbcType=INTEGER},
            </if>
            <if test="incomeNumber != null">
                income_number = #{incomeNumber,jdbcType=VARCHAR},
            </if>
            <if test="leaderStudentid != null">
                leader_studentid = #{leaderStudentid,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_time = #{updateUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 用户列表 根据不同条件查询-->
    <select id="selectByDormitoryRoom" resultMap="BaseResultMap" parameterType="com.sj.oa.project.po.dormitory.DormitoryRoom">
        select
        <include refid="Base_Column_List"></include>
        from t_dormitory_room
        <where>
            <if test="buildingCode !=null">
                and building_code = #{buildingCode,jdbcType=VARCHAR}
            </if>
            <if test="stepCode !=null">
                and step_code = #{stepCode,jdbcType=VARCHAR}
            </if>
            <if test="roomCode !=null">
                and room_code = #{roomCode,jdbcType=VARCHAR}
            </if>
            <if test="roomName !=null">
                and room_name = #{roomName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!-- 校验宿舍楼code是否存在 -->
    <select id="checkRoomCodeUnique" resultMap="BaseResultMap" parameterType="com.sj.oa.project.po.dormitory.DormitoryRoom">
        select * from t_dormitory_room
        where dormitory_code = #{dormitoryCode,jdbcType=VARCHAR}
    </select>

    <!-- 校验宿舍楼name是否存在 -->
    <select id="checkRoomNameUnique" resultMap="BaseResultMap" parameterType="com.sj.oa.project.po.dormitory.DormitoryRoom">
        select * from t_dormitory_room
        where dormitory_name = #{dormitoryName,jdbcType=VARCHAR}
    </select>

</mapper>