<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
<link href="/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css"
      th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-user-add">

			<div class="form-group">
				<label class="col-sm-3 control-label">学生姓名：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="name" id="userName">
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-3 control-label">学号：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="studentId" id="studentId" onblur="addUserLoginName(this.value)">
                </div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">登录名：</label>
				<div class="col-sm-8">
					<input class="form-control" value="" type="text" name="loginName" id="loginName">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">密码(默认:123456)：</label>
				<div class="col-sm-8">
					<input class="form-control" value="123456" type="password" name="pwd" id="password" readonly="readonly">
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-3 control-label">所在班级：</label>
                <div class="col-sm-8">
                    <select id="className" name="className" class="form-control select2-hidden-accessible">
                        <option value=""> - - </option>
                        <option th:each="c:${classalls}" th:value="${c.className}" th:text="${c.className}"></option>
                    </select>
                </div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">性别：</label>
				<div class="col-sm-8">
					<select id="sex" class="form-control m-b">
						<option value=""> - - </option>
	                    <option th:text="男" th:value="男"></option>
	                    <option th:text="女" th:value="女"></option>
	                </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<div class="onoffswitch">
                         <input type="checkbox" th:checked="true" class="onoffswitch-checkbox" id="status" name="status">
                         <label class="onoffswitch-label" for="status">
                             <span class="onoffswitch-inner"></span>
                             <span class="onoffswitch-switch"></span>
                         </label>
                     </div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div id="treeDept" style="width: 200px;height: 300px ;text-align: center;display: none">
        <ul id="tree" class="ztree"></ul>
    </div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
    <script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
	<script>
        $("#form-user-add").validate({
        	rules:{
                loginName:{
                    required:true,
                    minlength: 5,
                    maxlength: 10
				},
        		pwd:{
        			required:true,
        			minlength: 5,
        			maxlength: 20
        		},
                loginName:{
                    required:true,
                    remote: {
                        url: "/user/checkLoginNameUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            name: function () {
                                return $.trim($("#loginName").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            if (data == "0") return true;
                            else return false;
                        }
                    }
                },
                studentId:{
                    required:true,
                    remote:{
                        url:"/user/checkStudentIdUnique",
                        type:"post",
                        dataType:"json",
                        data: {
                            studentId: function () {
                                return $.trim($("#studentId").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            if (data == "0") return true;
                            else return false;
                        }
                    }
                }
        	},
        	messages: {
        		"studentId": {
                    remote: "学号已经存在"
                },
            },
        	submitHandler:function(form){
        		btn.add();
        	}
        });

        var index;
        $("#treeName").click(function () {
            btn.selectDeptTree();
        })

        var btn={
            add:function () {
                var userName = $("input[name='name']").val();
                var studentId = $("input[name='studentId']").val();
                var password = $("input[name='pwd']").val();
                var loginName = $("input[name='loginName']").val();
                var sex = $("#sex option:selected").val();
                var className = $("#className option:selected").val();
                var status = $("input[name='status']").is(':checked') == true ? 0 : 1;
                /*var postIds = $.form.selectSelects("post");*/
                $.ajax({
                    cache : true,
                    type : "POST",
                    url :  "/student/addSave",
                    data : {
                        "name": userName,
                        "pwd": password,
                        "sex": sex,
                        "status": status,
						"loginName":loginName,
                        "studentId":studentId,
                        "className":className
                    },
                    async : false,
                    error : function(request) {
                        $.modal.alertError("系统错误");
                    },
                    success : function(data) {
                        //alert(JSON.stringify(data))
                        $.operate.saveSuccess(data);
                    }
                });
            },
            selectDeptTree:function () {
                btn.treeDept();
                index=layer.open({
                    type:1,
                    area:['200px','auto'],
                    shade: 0.3,
                    title: "选择部门",
                    content: $("#treeDept")
                })
            },
            treeDept:function  () {
                var zTreeObj,
                    setting = {
                        view: {
                            selectedMulti: false
                        },
                        callback: {
                            onClick: btn.zTreeOnClick
                        }

                    },
                    zTreeNodes = [
                        {
                            "name": "部门管理", open: true, children: initDeptData()
                        }
                    ];

                function initDeptData() {
                    var arr = new Array();
                    $.ajaxSettings.async = false;
                    $.post("/dept/ajaxlist", {}, function (data) {
                        for (var i = 0; i < data.length; i++) {
                            var treeData = {
                                "name": data[i].deptName,
                                "value": data[i].depId
                            }
                            arr.push(treeData);
                        }
                    })
                    return arr;
                }
                zTreeObj = $.fn.zTree.init($("#tree"), setting, zTreeNodes);
            },
            zTreeOnClick:function (event,treeId,treeNode) {
                $("#treeName").val(treeNode.name);
                $("#dept").val(treeNode.value);
                layer.close(index);
            }
        }

        function addUserLoginName(studentid) {
            $("#loginName").val(studentid);
        }
    </script>


</body>
</html>
