<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-info">
                <div class="col-sm-6" id="writeChartDiv" style="width: 800px;height: 500px">
                </div>
                <div class="col-sm-6" id="whereaboutChartDiv" style="width: 800px;height: 500px">
                </div>
        </div>
        <div class="col-sm-12 select-info order-table">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:src="@{/js/echarts.js}"></script>
<script th:inline="javascript">
    var prefix = "/whereabouts";
    var updateFlag = [[${@permission.hasPermi('"whereabouts:update')}]];
    var delFlag = [[${@permission.hasPermi('"whereabouts:del')}]]
    $(function () {
        //获取model中数据
        var notInNumbers = [[${whereaboutsInfo.notInNumbers}]];
        var alreadyInNumbers = [[${whereaboutsInfo.alreadyInNumbers}]]
        var atSchoolNumbers = [[${whereaboutsInfo.atSchoolNumbers}]]
        var atHomeNumbers = [[${whereaboutsInfo.atHomeNumbers}]]
        var goOutNumbers = [[${whereaboutsInfo.goOutNumbers}]]

        var data1 = [
            {value:notInNumbers,name:'未填写'},
            {value:alreadyInNumbers,name:'已填写'}
        ];

        var data2 = [
            {value:atSchoolNumbers,name:'留校'},
            {value:atHomeNumbers,name:'回家'},
            {value:goOutNumbers,name:'外出'}
        ];

        var options = {
            url: prefix + "/tableList",
            modalName: "便签",
            search: false,
            queryParams:{
              id:$("#id").val()
            },
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'title',
                    title: '标题',
                },
                {
                    field: 'studentId',
                    title: '学号',
                },
                {
                    field: 'studentName',
                    title: '学生姓名',
                },
                {
                    field: 'className',
                    title: '所在班级',
                },
                {
                    field: 'whereabouts',
                    title: '去向',
                },
                {
                    field: 'address',
                    title: '地址',
                },
                {
                    field: 'leaveDate',
                    title: '离校时间',
                    formatter: function (value, row, index) {
                        return $.common.dateFormatToDate(value);
                    }
                },
                {
                    field: 'returnDate',
                    title: '返校时间',
                    formatter: function (value, row, index) {
                        return $.common.dateFormatToDate(value);
                    }

                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value) {
                        if (value == 0) {
                            return '<span class="badge badge-primary">未填写</span>';
                        } else {
                            return '<span class="badge badge-danger">已填写</span>';
                        }
                    }
                },
                {
                    field: 'updateTime',
                    title: '填写时间',
                    formatter: function (value, row, index) {
                        return $.common.dateFormat(value);
                    }
                }]
        };
        $.table.init(options);

        var writeChartOptions = {
            title : {
                text: '假期去向填写情况',
                subtext: '实时数据',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['已填写','未填写']
            },
            series : [
                {
                    name: '填写情况',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:data1,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        }

        var whereaboutChartOptions = {
            title : {
                text: '假期去向填写统计饼状图',
                subtext: '实时数据',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['留校','外出','回家']
            },
            series : [
                {
                    name: '假期去向',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:data2,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        }

        var writeChart = echarts.init(document.getElementById("writeChartDiv"));
        writeChart.setOption(writeChartOptions);

        var whereaboutChart = echarts.init(document.getElementById("whereaboutChartDiv"));
        whereaboutChart.setOption(whereaboutChartOptions);
    });
</script>
</body>
</html>