<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-info">
            <form id="operlog-form">
                <div class="select-list gd">
                    <ul>
                        <li>
                            <label>标题： </label>
                            <input type="text" name="title" />
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm"
                               onclick="$.table.search($('form').attr('id'))"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm"
                               onclick="$.form.reset($('form').attr('id'))"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-info order-table">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">
    var prefix = "/whereabouts";
    var updateFlag = [[${@permission.hasPermi('"whereabouts:update')}]];
    $(function () {
        var options = {
            url: prefix + "/tableList",
            updateUrl: prefix + "/edit/{id}",
            sortName: "create_time",
            sortOrder: 'desc',
            modalName: "便签",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'title',
                    title: '标题',
                },
                {
                    field: 'whereabouts',
                    title: '去向',
                },
                {
                    field: 'leaveDate',
                    title: '离校时间',
                    formatter: function (value, row, index) {
                        return $.common.dateFormatToDate(value);
                    }
                },
                {
                    field: 'returnDate',
                    title: '返校时间',
                    formatter: function (value, row, index) {
                        return $.common.dateFormatToDate(value);
                    }

                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value) {
                        if (value == 0) {
                            return '<span class="badge badge-primary">未填写</span>';
                        } else {
                            return '<span class="badge badge-danger">已填写</span>';
                        }
                    }
                },
                {
                    field: 'createTime',
                    title: '发布时间',
                    formatter: function (value, row, index) {
                        return $.common.dateFormat(value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if(row.status == 0){
                            actions.push('<a class="' + updateFlag + 'btn btn-success btn-xs" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>填写</a> ');
                        }else{
                            actions.push('<a class="' + updateFlag + 'btn btn-success btn-xs" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>修改</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>